* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: url(/images/bg-pattern-top-desktop.svg) top left, url(/images/bg-pattern-bottom-desktop.svg) bottom right;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    height: 100vh;
    justify-content: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 1200px;
}

.info-container {
    color: hsl(303, 10%, 53%);
    flex: 1 0 40%;
    padding-left: 20px;
    padding-right: 100px;
}

.info-container>p {
    font-weight: 500;
    line-height: 1.6;
}

h1{
    color: hsl(300, 43%, 22%);
    margin-bottom: 25px;
    padding: 10px;
}

.ratings-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 40%;
    height: 250px;
}

.ratings-container>div{
    background: hsl(300, 24%, 96%);
    border-radius: 10px;
    border: white solid 1px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    height: 70px;
    margin: 0 20px 15px 20px;
    padding: 20px;
    text-align: center;
    width: 75%;
}

.ratings-container>div>p::before {
    background-image: url(/images/icon-star.svg);
    background-repeat: space;
    content:"";
    display: inline-block;
    height: 17px;
    margin-right: 35px;
    width: 100px;
}

.ratings-container>div:nth-child(1) {
    align-self: flex-start;
    
}
.ratings-container>div:nth-child(2) {
    
    align-self: center;
}
.ratings-container>div:nth-child(3) {
    align-self: flex-end;
}

.quotes-container {
    display: flex;
    height: 320px;
}

.quotes-container>div{
    background: hsl(300, 43%, 22%);
    border-radius: 10px;
    border: white solid 1px;
    margin: 20px;
    padding: 33px;
}

.quotes-container>div:nth-child(1) {
    align-self: flex-start;
}
.quotes-container>div:nth-child(2) {
    align-self: center;
}
.quotes-container>div:nth-child(3) {
    align-self: flex-end;
}

.pic-name-tag{
    display: flex;
    margin-bottom: 20px;
}

.pic>img {
    border-radius: 50%;
    height: 50px;
}

.name-tag {
    line-height: 1.6;
    padding: 0px 0px 0px 30px;
}

.text-quote {
    display: block;
    font-size: 0.86em;
    line-height: 1.7;
    text-align: left;
}

.verified-tag {
    color: hsl(333, 80%, 67%);
}


@media (max-width: 1200px) {
    body {
        background: url(/images/bg-pattern-top-mobile.svg) top left, url(/images/bg-pattern-bottom-mobile.svg) bottom right;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .flex-container {
        padding: 10px;
        width: 400px;
      
    }

    .info-container {
        color: hsl(303, 10%, 53%);
        padding: 30px;
        text-align: center;
    }

    .ratings-container>div{
        height: 70px;
        margin: 0 20px 15px 20px;
        padding: 20px;
        width: 85%;
    }

    .ratings-container>div>p::before {
        background-image: url(/images/icon-star.svg);
        background-repeat: space;
        content:"";
        display: block;
        height: 17px;
        margin: 0 auto;
        width: 100px;
    }

    .ratings-container>div:nth-child(1) {
        align-self: center;

    }
    .ratings-container>div:nth-child(2) {
        align-self: center;
    }
    .ratings-container>div:nth-child(3) {
        align-self: center;
    }

    .quotes-container {
        align-self: stretch;
        display: flex;
        flex-direction: column;
    }
}
