* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    color: white;
    /* background: url(/images/bg-pattern-top-mobile.svg), url(/images/bg-pattern-bottom-mobile.svg); */
}

.info {
    margin-top: 100px;
    padding: 12px;
    height: 300px;
    text-align: center;
    color: hsl(303, 10%, 53%);
}

.info>p {
    font-weight: 500;
    line-height: 1.6;
}

h1{
    margin-bottom: 25px;
    padding: 10px;
    color: hsl(300, 43%, 22%);
}

.ratings {
    height: 300px;
}

.ratings>div{
    margin: 0 20px 15px 20px;
    padding: 20px;
    height: 70px;
    border: white solid 1px;
    border-radius: 10px;
    font-weight: 700;
    text-align: center;
    background: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
}

.quotes {
    height: 650px;
}

.quotes>div{
    margin: 20px;
    padding: 33px;
    border: white solid 1px;
    border-radius: 10px;
    background: hsl(300, 43%, 22%);
}

.pic-name-tag{
    margin-bottom: 20px;
    display: flex;
}

.pic>img {
    height: 50px;
    border-radius: 50%;
}

.name-tag {
    padding: 0px 0px 0px 30px;
    line-height: 1.6;
}

.text-quote {
    display: block;
    font-size: 0.86em;
    line-height: 1.7;
    text-align: left;
}

.verified-tag {
    color: hsl(333, 80%, 67%);
}


@media only screen and (min-width: 600px) {
    body{
        margin: 40px;
    }

    .info-ratings-bg {
        display: flex;
        justify-content: center;
    }

    .info {
        width: 40%;
    }
    
    .ratings{
        display: flex;
        flex-direction: column;
        height: 200px;
        width: 26%;
        margin:0 auto;
    }

    .ratings>div:nth-child(1) {
        align-self: flex-start;
      }
    .ratings>div:nth-child(2) {
        
        align-self: center;
    }
    .ratings>div:nth-child(3) {
        align-self: flex-end;
      }


    .quotes{
        display: flex;
        height: 320px;
        width: 85%;
        margin:0 auto;
    }

    .quotes>div:nth-child(1) {
        align-self: flex-start;
      }
    .quotes>div:nth-child(2) {
        align-self: center;
    }
    .quotes>div:nth-child(3) {
        align-self: flex-end;
      }
  }