* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    color: white;
    background: url(/images/bg-pattern-top-desktop.svg) top left, url(/images/bg-pattern-bottom-desktop.svg) bottom right;
    background-repeat: no-repeat;

}

.grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    padding: 20px;
    width: 1200px;
}

.info-container {
    color: hsl(303, 10%, 53%);
    flex: 1 0 40%;
    align-self: auto;
    padding-left: 20px;
    padding-right: 100px;
    background-color: rgb(181, 130, 223);

}

.info-container>p {
    font-weight: 500;
    line-height: 1.6;
}

h1{
    margin-bottom: 25px;
    padding: 10px;
    color: hsl(300, 43%, 22%);
}

.ratings-container {
    height: 250px;
    background-color: rgb(130, 223, 223);
    flex: 1 0 40%;
    align-self: auto;

    flex-direction: column;
    
    display: flex;
}

.ratings-container>div{
    margin: 0 20px 15px 20px;
    padding: 20px;
    height: 70px;
    width: 75%;
    border: white solid 1px;
    border-radius: 10px;
    font-weight: 700;
    text-align: center;
    background: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
}

.ratings-container>div>p::before {
    content:"";
    width: 100px;
    height: 17px;
    display: inline-block;
    background-image: url(/images/icon-star.svg);
    background-repeat: space;
    margin-right: 35px;
    
}

.ratings-container>div:nth-child(1) {
    align-self: flex-start;
    
  }
.ratings-container>div:nth-child(2) {
    
    align-self: center;
}
.ratings-container>div:nth-child(3) {
    align-self: flex-end;
  }

.quotes-container {
    flex: 1 1 100%;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    display: flex;
    height: 320px;
    background-color: yellowgreen;
}

.quotes-container>div{
    margin: 20px;
    padding: 33px;
    border: white solid 1px;
    border-radius: 10px;
    background: hsl(300, 43%, 22%);
}

.quotes-container>div:nth-child(1) {
    align-self: flex-start;
  }
.quotes-container>div:nth-child(2) {
    align-self: center;
}
.quotes-container>div:nth-child(3) {
    align-self: flex-end;
  }

  .pic-name-tag{
    margin-bottom: 20px;
    display: flex;
}

.pic>img {
    height: 50px;
    border-radius: 50%;
}

.name-tag {
    padding: 0px 0px 0px 30px;
    line-height: 1.6;
}

.text-quote {
    display: block;
    font-size: 0.86em;
    line-height: 1.7;
    text-align: left;
}

.verified-tag {
    color: hsl(333, 80%, 67%);
}


@media (max-width: 1200px) {
   /*  background: url(/images/bg-pattern-top-mobile.svg), url(/images/bg-pattern-bottom-mobile.svg); */
}
